body {
    text-align: center;
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 23px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

ul, ol {
    list-style: none;
}

.header {
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
}

.header h1 {
    color: white;
    font-weight: bold;
    font-size: 70px;
}

.header ul li {
    padding: 10px 0;
    font-size: 18px;
}

.header ul a {
    color: white;
    text-decoration: underline;
}

.pitch {}

.pitchNY {
    color: white;
    background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png")
    
}

.footer, .footer a {
    display: flex;
    flex-direction: row;
    background: dimgray;
    color: white;
}

.footer p {
    font-size: 11px;
}

.footer ul {
    display: flex;
    flex-direction: row;
}

.footer ul li {
    padding: 0 2px;
    font-weight: bolder;
}